.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.chat {
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.side-bar-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.chat-header {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.messages {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.form {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.header-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create-room {
border: 1px solid lightblue;
padding: 14px;
}

.create-room a {
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.header-title {
  font-size: 24px;
  color: #333;
  margin: 36px 0 0 0;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}

.message {
  margin-top: 10px;
  display: flex;
}

.message-user {
  font-size: 16px;
  color: #434a54;
}

.message-data {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.message-content {
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}

.upper-message {
  display: flex;
}

.lower-message {
  margin-top: 10px;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  border: none;
  font-size: 16px;
  color: white;
  background-color: #38aef0;
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
}

.hidden {
  display: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}